@{
    ViewBag.Title = "test";
}
<script src="~/js/jquery.js"></script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
<link href="~/CSS/bootstrap.css" rel="stylesheet" />
<script src="~/js/bootstrap.js"></script>
<script src="~/js/bootbox.min.js"></script>
<link href="~/CSS/bootstrap-glyphicons.css" rel="stylesheet" />
<div class="dropdown">
    <button class="dropdown-toggle btn btn-primary " type="button" data-toggle="dropdown">
        Dropdown Menu Button
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Android</a></li>
        <li><a href="#">PHP</a></li>
        <li><a href="#">Blogger</a></li>
        <li><a href="#">WordPress</a></li>
    </ul>
</div>